#Footer {
  background: #333c40;
  color: #cccecf;
  padding: 3em 0;
  .Container {
    display: flex;
    & > div {
      flex: 1;
    }
    & > div:first-of-type {
      display: flex;
      .NavList {
        flex: 1;
        margin-right: 3em;
      }
    }
    h3 {
      color: #fff;
    }
    li,
    p {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 13.5px;
      letter-spacing: 0.5px;
      line-height: 25px;
    }
    a {
      transition: 0.3s;
    }
    a:hover {
      color: #f4715c;
    }
  }
}
