.contact {
  h2 {
    margin-bottom: 0;
  }
  p {
    margin-bottom: 2.5rem;
  }
  input,
  textarea {
    border: 2px solid #e4e4e4;
    border-radius: 6px;
    padding: 0.8rem 1rem;
    margin-bottom: 2rem;
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-style: italic;
    color: #b2aaaa;
    &::placeholder {
      color: #b2aaaa;
    }
  }
  .name-email {
    display: flex;
    input {
      flex: 1;
      &:first-of-type {
        margin-right: 2rem;
      }
    }
  }
  .btn {
    margin-right: 1.2rem;
  }
}
