.primary-button {
  background: #f4715c;
  padding: 0.65rem 1.65rem 0.8rem 1.65rem;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 25px;
  color: #fff;
  font-weight: 700;
  border: none;
  margin-bottom: 1rem;
}
