@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700');

#main {
  background-color: #fff;
  font-family: 'Open Sans Condensed', sans-serif;
  min-width: 280px;
  margin: 0;
}
